body {
    padding: 50px 20%;
}

h1, h2, h3, b, strong {
    color: plum;
}

h1, h3 {
    text-align:center;
}

h2 {
    text-align:right;
    border-bottom: 2px inset lightslategray;
}

hr {
    color: lightslategray;
    border: 1px dotted;
    width: 50%;
}

p {
    font-family: Georgia, serif;
    color: darkslategray;
    text-align: justify;
    font-style: italic;
}

h1 {
    text-transform: uppercase;
}